.App{
    color:red;
    /* width: 100%; */
    font-size: xx-large;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    word-spacing: 50%;
    /* background-color: rgb(201, 201, 221); */
    text-align: center;
    
}

.input{
    float: right;
    color: blueviolet;
    font-size: xx-larges;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: rgb(136, 141, 143);
    color: white;
  }
  
  .nav-links {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }